.highlight .hll { background-color: #333333 }
.highlight  { background: #111111; color: #ffffff }
.highlight .c { color: #008800; font-style: italic; background-color: #0f140f } /* Comment */
.highlight .err { color: #ffffff } /* Error */
.highlight .g { color: #ffffff } /* Generic */
.highlight .k { color: #fb660a; font-weight: bold } /* Keyword */
.highlight .l { color: #ffffff } /* Literal */
.highlight .n { color: #ffffff } /* Name */
.highlight .o { color: #ffffff } /* Operator */
.highlight .x { color: #ffffff } /* Other */
.highlight .p { color: #ffffff } /* Punctuation */
.highlight .cm { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Multiline */
.highlight .cp { color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f } /* Comment.Preproc */
.highlight .c1 { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Single */
.highlight .cs { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Special */
.highlight .gd { color: #ffffff } /* Generic.Deleted */
.highlight .ge { color: #ffffff } /* Generic.Emph */
.highlight .gr { color: #ffffff } /* Generic.Error */
.highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #ffffff } /* Generic.Inserted */
.highlight .go { color: #444444; background-color: #222222 } /* Generic.Output */
.highlight .gp { color: #ffffff } /* Generic.Prompt */
.highlight .gs { color: #ffffff } /* Generic.Strong */
.highlight .gu { color: #ffffff; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #ffffff } /* Generic.Traceback */
.highlight .kc { color: #fb660a; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #fb660a; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #fb660a; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #fb660a } /* Keyword.Pseudo */
.highlight .kr { color: #fb660a; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #cdcaa9; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: #ffffff } /* Literal.Date */
.highlight .m { color: #0086f7; font-weight: bold } /* Literal.Number */
.highlight .s { color: #0086d2 } /* Literal.String */
.highlight .na { color: #ff0086; font-weight: bold } /* Name.Attribute */
.highlight .nb { color: #ffffff } /* Name.Builtin */
.highlight .nc { color: #ffffff } /* Name.Class */
.highlight .no { color: #0086d2 } /* Name.Constant */
.highlight .nd { color: #ffffff } /* Name.Decorator */
.highlight .ni { color: #ffffff } /* Name.Entity */
.highlight .ne { color: #ffffff } /* Name.Exception */
.highlight .nf { color: #ff0086; font-weight: bold } /* Name.Function */
.highlight .nl { color: #ffffff } /* Name.Label */
.highlight .nn { color: #ffffff } /* Name.Namespace */
.highlight .nx { color: #ffffff } /* Name.Other */
.highlight .py { color: #ffffff } /* Name.Property */
.highlight .nt { color: #fb660a; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #fb660a } /* Name.Variable */
.highlight .ow { color: #ffffff } /* Operator.Word */
.highlight .w { color: #888888 } /* Text.Whitespace */
.highlight .mf { color: #0086f7; font-weight: bold } /* Literal.Number.Float */
.highlight .mh { color: #0086f7; font-weight: bold } /* Literal.Number.Hex */
.highlight .mi { color: #0086f7; font-weight: bold } /* Literal.Number.Integer */
.highlight .mo { color: #0086f7; font-weight: bold } /* Literal.Number.Oct */
.highlight .sb { color: #0086d2 } /* Literal.String.Backtick */
.highlight .sc { color: #0086d2 } /* Literal.String.Char */
.highlight .sd { color: #0086d2 } /* Literal.String.Doc */
.highlight .s2 { color: #0086d2 } /* Literal.String.Double */
.highlight .se { color: #0086d2 } /* Literal.String.Escape */
.highlight .sh { color: #0086d2 } /* Literal.String.Heredoc */
.highlight .si { color: #0086d2 } /* Literal.String.Interpol */
.highlight .sx { color: #0086d2 } /* Literal.String.Other */
.highlight .sr { color: #0086d2 } /* Literal.String.Regex */
.highlight .s1 { color: #0086d2 } /* Literal.String.Single */
.highlight .ss { color: #0086d2 } /* Literal.String.Symbol */
.highlight .bp { color: #ffffff } /* Name.Builtin.Pseudo */
.highlight .vc { color: #fb660a } /* Name.Variable.Class */
.highlight .vg { color: #fb660a } /* Name.Variable.Global */
.highlight .vi { color: #fb660a } /* Name.Variable.Instance */
.highlight .il { color: #0086f7; font-weight: bold } /* Literal.Number.Integer.Long */
html {
  margin: 0;
  padding: 0;
  border: none;
  background: #222222;
  color: white;
  font-family: "Georgia", "Times New Roman", serif; }

body {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  width: 44em;
  max-width: 90%;
  margin: 2em auto;
  font-size: 1.1em; }
  @media only screen and (max-width: 568px) {
    body {
      font-size: 1em; } }

h1 {
  margin: 0;
  padding: 0;
  border: none;
  min-height: 202px;
  background-position: right top;
  background-repeat: no-repeat;
  font-size: 5.5em;
  font-weight: normal; }
  @media only screen and (max-width: 568px) {
    h1 {
      background: none;
      font-size: 3.75em;
      text-align: center;
      margin-top: -0.475em;
      min-height: 0; } }
  h1:hover {
    background-position: right bottom; }
  h1 a {
    color: #ebffb4;
    text-decoration: none; }
    h1 a:hover {
      color: #ebffb4; }
      h1 a:hover span:after {
        color: #ebffb4; }
    h1 a span {
      font-size: 0.01em;
      color: #222222; }
      h1 a span:after {
        content: "dot";
        position: relative;
        bottom: 0.5em;
        padding-left: 0.25em;
        padding-right: 0.5em;
        font-size: 25em;
        color: white; }

nav > ul {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
  position: absolute;
  top: 7.63em;
  left: 0;
  width: 100%;
  background: #111111;
  text-align: left; }
  @media only screen and (max-width: 568px) {
    nav > ul {
      position: static;
      margin-top: 1em;
      width: auto; } }
  @media only screen and (min-width: 589px) and (max-width: 768px) {
    nav > ul {
      width: 26em; } }
  nav > ul li {
    margin: 0;
    padding: 0;
    border: none;
    display: inline-block; }
    nav > ul li a {
      margin: 0;
      padding: 0;
      border: none;
      -webkit-transition: all 350ms ease-in-out;
      -moz-transition: all 350ms ease-in-out;
      -o-transition: all 350ms ease-in-out;
      transition: all 350ms ease-in-out;
      display: inline-block;
      padding: 0.75em;
      font-size: 1.5em;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-decoration: none;
      color: #feeeed; }
      @media only screen and (max-width: 568px) {
        nav > ul li a {
          padding: 0.5em;
          font-size: 1.1em; } }

article time {
  display: block;
  margin-top: 2.5em;
  margin-bottom: 0.25em;
  font-weight: bold;
  text-transform: uppercase;
  color: #b3b3b3;
  font-family: "Helvetica Neue", "Helvetica", sans-serif; }
  @media only screen and (max-width: 568px) {
    article time {
      margin-top: 1.3em; } }
article h2 {
  margin-top: 0; }

h2, h3 {
  color: #c6e567;
  font-family: "Helvetica Neue", "Helvetica", sans-serif; }
  h2 a, h3 a {
    border-bottom: 1px solid #ebffb4;
    color: #ebffb4;
    text-decoration: none; }
    h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus {
      -webkit-transition: all 350ms ease-in-out;
      -moz-transition: all 350ms ease-in-out;
      -o-transition: all 350ms ease-in-out;
      transition: all 350ms ease-in-out;
      border-bottom-color: #111111;
      color: #111111;
      background: #ebffb4; }
  h2 a, h3 a {
    color: #c6e567;
    border-bottom-color: #222222; }

h2 {
  font-size: 2em; }
  @media only screen and (max-width: 568px) {
    h2 {
      font-size: 1.5em; } }

h3 {
  font-size: 1.5em; }
  @media only screen and (max-width: 568px) {
    h3 {
      font-size: 1.25em; } }
  h3 span {
    display: block;
    font-weight: normal;
    font-size: 0.7em;
    color: #b3b3b3; }

h4
{
    font-family: 'SimHei';
    color: #99d9ea;
}

  h4 + p {
    padding: 1em;
    background: #111111; }

img {
  display: block;
  margin: 0 auto;
  max-width: 44em; }
  @media only screen and (max-width: 568px) {
    img {
      max-width: 285px; } }
  @media only screen and (min-width: 589px) and (max-width: 768px) {
    img {
      max-width: 690px; } }

p {
  line-height: 1.8em;
  margin-bottom: 1.25em; }
  p a {
    border-bottom: 1px solid #ebffb4;
    color: #ebffb4;
    text-decoration: none; }
    p a:hover, p a:focus {
      -webkit-transition: all 350ms ease-in-out;
      -moz-transition: all 350ms ease-in-out;
      -o-transition: all 350ms ease-in-out;
      transition: all 350ms ease-in-out;
      border-bottom-color: #111111;
      color: #111111;
      background: #ebffb4; }

ol, ul {
  line-height: 1.8em; }
  ol a, ul a {
    border-bottom: 1px solid #ebffb4;
    color: #ebffb4;
    text-decoration: none; }
    ol a:hover, ol a:focus, ul a:hover, ul a:focus {
      -webkit-transition: all 350ms ease-in-out;
      -moz-transition: all 350ms ease-in-out;
      -o-transition: all 350ms ease-in-out;
      transition: all 350ms ease-in-out;
      border-bottom-color: #111111;
      color: #111111;
      background: #ebffb4; }
  ol li, ul li {
    margin-bottom: 0.625em; }
    ol li:last-child, ul li:last-child {
      margin-bottom: 0; }

hr {
  margin: 1.5em 0;
  border-top-color: #111111;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: #444444;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left: none;
  border-right: none; }

table {
  width: 100%;
  border-collapse: collapse; }
  table thead {
    border-bottom: 1px solid white; }
    table thead tr th {
      text-align: left;
      font-family: "Helvetica Neue", "Helvetica", sans-serif; }
  table th, table td {
    padding: 0.25em 0.5em; }

blockquote {
  padding-left: 1em;
  border-left: 1px solid #b3b3b3;
  color: #b3b3b3;
  font-style: italic;
  font-family: "Helvetica Neue", "Helvetica", sans-serif; }

code {
  font-family: monospace; }

pre {
  padding: 1em;
  overflow: auto;
  background: #111111; }

.info {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  color: #b3b3b3; }
  .info a {
    color: white;
    border-color: white; }
    .info a:hover {
      background: white; }

img#left {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1em; }

ul#images {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
  padding-top: 0.5em; }
  ul#images:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  ul#images li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em; }

ol#archive {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none; }
  ol#archive li {
    margin-bottom: 0.3125em; }
    ol#archive li:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    ol#archive li time {
      float: left;
      display: block;
      width: 4.5em; }
    ol#archive li p {
      margin: 0;
      padding: 0;
      border: none;
      margin-left: 5em; }

div#paginator {
  position: relative; }
  div#paginator a {
    border-bottom: 1px solid #ebffb4;
    color: #ebffb4;
    text-decoration: none; }
    div#paginator a:hover, div#paginator a:focus {
      -webkit-transition: all 350ms ease-in-out;
      -moz-transition: all 350ms ease-in-out;
      -o-transition: all 350ms ease-in-out;
      transition: all 350ms ease-in-out;
      border-bottom-color: #111111;
      color: #111111;
      background: #ebffb4; }
  div#paginator:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  @media only screen and (max-width: 568px) {
    div#paginator {
      height: 3.5em; } }
  div#paginator a {
    position: absolute;
    top: 0; }
    @media only screen and (max-width: 568px) {
      div#paginator a {
        top: auto;
        bottom: 0; } }
    div#paginator a#left {
      left: 0; }
    div#paginator a#right {
      right: 0; }
  div#paginator fieldset {
    margin: 0;
    padding: 0;
    border: none;
    display: inline;
    width: 100%;
    text-align: center; }
    @media only screen and (max-width: 568px) {
      div#paginator fieldset input[type=search] {
        width: 225px; } }
